.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.card-header {
    display: flex;
    align-items: start;
}

ion-card {
    min-width: 370px;
    max-width: 520px;
    text-align: start;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

ion-card-title img {
    margin-right: 24px;
}

ion-card-content {
    font-size: 1em;
    color: #666;
}

ul {
    padding-left: 20px;
}

a {
    text-decoration: none;
}

hr {
    background-color: var(--ion-color-light-contrast);
    opacity: 0.3;
}

.description {
    color: var(--ion-color-light-contrast);
    font-size: 15px;
}

.technology {
    display: flex;
    align-items: center;
    margin: 4px;
}

ion-avatar {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}


ion-accordion-group {
    margin: 0;
    font-size: 8px;
}

.technology {
    display: flex;
    align-items: center;
}

.tech-info {
    display: flex;
    margin-left: 10px;
}

ion-chip {
    height: 10px;
}

.technology {
    display: flex;
    align-items: center;
}

.tech-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

a {
    font-size: 24px;
    font-weight: bold;
}


.chip-link {
    display: inline-block;
    padding: 2px 6px;
    margin: 2px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 8px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-medium);
    font-size: 12px;
    text-decoration: none;
}

.chip-link:hover {
    background-color: var(--ion-color-medium);
    color: var(--ion-color-light);
}

@media (max-width: 768px) {
    .technology {
        align-items: flex-start;
        margin-bottom: 5px;
    }

    ion-avatar {
        width: 45px;
        height: 45px;
    }

    .tech-info a {
        font-size: 18px;
    }


    .chip-link {
        padding: 2.5px 5px;
        font-size: 12px;
    }

    .tech-info {
        margin-left: 5px;
    }

    .project-links a {
        margin-top: 2.5px;
        font-size: 10px;
    }
}

.ion-padding {
    background-color: var(--ion-color-light);
}

ion-item {
    --background: var(--ion-color-light);
}
